{% extends 'todo/index.html' %}
{% load static %}
{% block content %} 


    <div class="col-lg-5 text-white p-4 mx-auto bg-dark ">
        <div class="alert  alert-danger">
           <h2> LOGIN </h2>
        </div>
        <div class=" shadow p-12 mx-auto">
        <form action="/login/" method="POST">
            {% csrf_token %}
    {% for fm in forms %}
    <p>{{fm.label}}
        
    {{fm}}
    </p>
    <br>
    {% endfor %}    
            <input  class="btn btn-success" type="submit" value="SUBMIT">
        </form>
    </div>
    </div>


{% endblock content %}